@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

.about-session{
    margin-top: 0px;
    color: black;
}

p{
    font-size: 25px
}

.about-title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-text{
    padding: 10px 0 0 0;
    font-family: 'Crimson Text', serif;
}

.about-subtitle{
    margin-bottom: -75px;
}
.flex-container {
    margin: 40px auto 0 auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-family: 'Crimson Text', serif;
  }

#about-img {
    background-color: grey;
    width: 100px;
}