* {
    margin: 0;
    padding: 0;
}

.search-session{
    width: 100%;
    height: 800px;
    background-image: url("../../images/home-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    overflow: hidden;


}


.search-details {
    position: absolute;
    margin-top: 100px;
    margin-left: 700px;
    
    

}