* {
    margin: 0;
    padding: 0;
}

.search-session{
    width: 100%;
    height: 800px;
    background-image: url("../../images/home-bg.png");
    background-size: cover;
    background-repeat: no-repeat;

}


.search-details {
    /* background-image: url("/client/public/home-bg.png"); */
}